.listContainer {
    display: flex;
    flex-direction: column;
    margin: 4rem auto 0;
    width: 46rem;
}

.listContainer header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 1rem 1.5rem;
    border-bottom: 0.1rem solid var(--gray-400);
}

.listContainer header div {
    display: flex;
    align-items: center;
}

.listContainer header div p {
    margin-right: 0.3rem;
}

.listContainer section .taskDisclaimer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
}

.listContainer section .checkboxContainer {
    margin-top: 1rem;
    display: flex;
    padding: 1.5rem;
    border: 0.1rem solid gray;
    border-radius: 0.5rem;
    align-items: flex-start;
    overflow-wrap: anywhere;
}

.listContainer section .checkboxContainer input {
    margin-right: 0.5rem;
    margin-top: 0.2rem;
}

.listContainer section .checkboxContainer p {
    flex: 1;
    margin-right: 0.5rem;
}

.listContainer section .checkboxContainer svg {
    margin-top: 0.2rem;
    cursor: pointer;
}

.listContainer section .checkboxContainer svg:hover {
    color: var(--red-500)
}

.taskDone {
    text-decoration: line-through;
}